@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../../../.flowbite-react/class-list.json";

* {
  /* outline: 1px solid green !important; */
}
.swiper {
  overflow: hidden !important;
  width: 100%;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.swiper { overflow: hidden !important; }
.swiper-button-next,
.swiper-button-prev {
  width: 42px;
  height: 42px;
  border-radius: 9999px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  color: black;
}
.swiper-wrapper {
  transition-timing-function: linear !important;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #d1d5db;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 30px;
  border-radius: 999px;
  background: #000;
}
